<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Bet on surfing">
    <meta name="keywords" content="Bet, Surf, Gamble">
    <meta name="author" content="Edison Aguiar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Oshangyanbura</title>
    {% endblock %}
  </head>
  <body>
    <main id="content">{% block content %}{% endblock %}</main>
    <hr/>
    <footer id="footer">
      {% block footer %}
      &copy; Copyright 2021 by <a href="https://eaneto.dev/">Edison Aguiar</a>.
      {% endblock %}
    </footer >
  </body>
</html>
